In [1]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
%run ../lib_data_operations.py

In [2]:
(df_etf_init, df_orders_init, df_incomes, df_prices_init, _) = load_data()
(df_orders, _) = preprocess_orders(df_orders_init)
df_prices = preprocess_prices(df_prices_init)

df_etf = preprocess_etf_masterdata(df_etf_init)
orders_etf = enrich_orders(df_orders, df_etf)

# MVP

In [4]:
df = pd.DataFrame({
    "date": ["2020-03-01", "2020-03-01", "2020-03-01", "2020-03-01",
            "2020-02-01", "2020-02-01", "2020-01-01", "2020-01-01", "2020-01-01"],
    "group": ["A", "B", "C", "D",
             "A", "C", "A", "B", "D"],
    "amount": [10, 5, 5, 3,
              3, 2, 4, 10, 8]
})
df["date"] = pd.to_datetime(df["date"])

In [7]:
df.sort_values("date")

        date group  amount
6 2020-01-01     A       4
7 2020-01-01     B      10
8 2020-01-01     D       8
4 2020-02-01     A       3
5 2020-02-01     C       2
0 2020-03-01     A      10
1 2020-03-01     B       5
2 2020-03-01     C       5
3 2020-03-01     D       3

In [9]:
df_grouped = df.sort_values("date").groupby("group").cumsum()
dff = df.merge(df_grouped, how="inner", left_index=True, right_index=True, suffixes=["_init", None])

In [10]:
dff.sort_values("date")

        date group  amount_init  amount
6 2020-01-01     A            4       4
7 2020-01-01     B           10      10
8 2020-01-01     D            8       8
4 2020-02-01     A            3       7
5 2020-02-01     C            2       2
0 2020-03-01     A           10      17
1 2020-03-01     B            5      15
2 2020-03-01     C            5       7
3 2020-03-01     D            3      11

In [22]:
dff_grouped = dff.sort_values("date").set_index("date").drop(["amount_init", "group"], axis=1).groupby("date").sum()

In [23]:
dff_grouped

            amount
date
2020-01-01      22
2020-02-01       9
2020-03-01      50

In [24]:
dff_grouped.cumsum()

            amount
date
2020-01-01      22
2020-02-01      31
2020-03-01      81